

html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #666;
    background: rgb(236, 242, 248);
    box-sizing: border-box
}
h1 {
    font-family: 'Playfair Display', serif;
    padding: .5rem;
    font-size: 1.25rem;
    color: black;
    width: 80%;
    margin: auto;
}
a {
    text-decoration: none;
    text-align: center;
    display: block;
    font-family: 'Playfair Display', serif;
    padding: .5rem;
    font-size: 1.25rem;
    color: black;
}

a:hover {
    color: #ed8721;
}

p {
    padding: 0 1.5rem 0 2rem;
    height: 100px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 1;
}

li {
    float: left;
    margin-right: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px
}

li a:hover {
    background-color: #ed8721;
    color: white;
}

img {
    width: 100%;
    object-fit: cover;
    display: block;
    background-color: white;
    float: left;
}

img:hover {

    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: all .2s linear;
}

.card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
}

.source {
    text-align: right;
    color: #555;
    font-size: .8rem;
    height: auto;
}

.imagebox {
    margin: left;
}

.newspic {
    height: 250px;
    width: 450px;
}

.titlendesc {
    display:inline-block;
}

.news {
    margin: auto;
    padding: 5px;
    margin-bottom: 10px;
    width: 85%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
}

#box {
    max-width: 1200px;
    margin: auto;
    margin-top: 200px;
}

#frontpage {
    background-color: rgba(41, 128, 178, 0.7);
    color: white;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 5%;
    border-style: solid;
    border-color: white;
    padding: 2px;
}

@media screen and (min-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
    }
}

@media screen and (min-width: 900px) {
    .card {
        flex: 1 1 calc(33% - 2rem);
    }
}
